<!doctype HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="stylesheet" href="custom/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-deep_purple.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="custom/fonts/fontello/css/fontello.css" rel="stylesheet" />
    <link rel="stylesheet" href="custom/css/bootstrap-offset-right.css">
    <link rel="stylesheet" href="custom/css/style.css">
    <title>Quic-webRTC Video Conference</title>
    <style>
        .mdl-textfield__label {
            margin-bottom: 0;
            color: #d7dbdc;
            font-weight: normal;
        }
        
        .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
        .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
            text-transform: uppercase
        }
        
        .has-feedback label~.form-control-feedback {
            top: 15px;
        }
        
        .mdl-textfield {
            width: 100%;
        }
        
        .mdl-checkbox__label {
            cursor: text;
            font-size: 13px;
            float: left;
            color: #b0b3b4;
            font-weight: normal;
        }
        
        .mdl-checkbox__box-outline {
            border: 1px solid #b0b3b4;
        }
        
        .mdl-textfield__input {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            display: block;
            font-size: 16px;
            margin: 0;
            padding: 4px 0;
            width: 100%;
            background: 0 0;
            text-align: left;
            color: inherit;
            font-weight: bold;
        }
        
        .mdl-switch__label {
            float: left;
            font-weight: normal;
            color: #b0b3b4;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="center-block">
            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 col-xs-12 no-padding" style="z-index:1">
                <!-- Slider -->

                <div class="mlt-carousel">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="img-responsive center-block" src="custom/img/login_webrtc.png" alt="step1">
                                <div class="item-content">
                                    <h3>성능</h3>
                                    <p>WebRTC 사용으로</p>
                                    <p>어떠한 환경에서도 안정적인 성능을</p>
                                    <p>보장하는 화상강의 플랫폼</p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive center-block" src="custom/img/login_quic.png" alt="step2">
                                <div class="item-content">
                                    <h3>보안</h3>
                                    <p>QUIC을 사용하여</p>
                                    <p>보안이 취약한 UDP의 근본적인 문제를</p>
                                    <p>해결한 안전한 화상강의 플랫폼</p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive center-block" src="custom/img/login_spring.png" alt="step3">
                                <div class="item-content">
                                    <h3>안정성</h3>
                                    <p>컨테이너 기반의 MSA으로</p>
                                    <p>많은 데이터 처리와 다양한 기술들을</p>
                                    <p>호환하는 화상강의 플랫폼</p>
                                </div>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    </div>
                    <!--mlt-carousel-->
                </div>
                <!-- Slider -->
            </div>
            <!-- Login -->

            <div class="col-lg-6 col-lg-offset-right-1 col-md-6 col-md-offset-right-1 col-sm-12 col-xs-12 no-padding">
                <div class="mlt-content">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#register" data-toggle="tab">회원가입</a></li>
                        <li><a href="#login" data-toggle="tab">로그인</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="register">
                            <!--register form-->

                            <form>
                                <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input type="text" id="fullName" class="mdl-textfield__input" />
                                        <label class="mdl-textfield__label " for="fullName ">이름</label>
                                        <span class="form-control-feedback" aria-hidden="true" id="fname1"></span>
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                        <input class="mdl-textfield__input " type="text " id="SetEmailAddress">
                                        <label class="mdl-textfield__label " for="SetEmailAddress ">이메일 주소</label>
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                        <input class="mdl-textfield__input " type="password" id="SetPassword">
                                        <label class="mdl-textfield__label " for="SetPassword ">비밀번호 (소문자와 숫자 포함 최소 6자)</label>
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                        <input class="mdl-textfield__input " type="password" id="CheckPassword">
                                        <label class="mdl-textfield__label " for="CheckPassword ">비밀번호 확인</label>
                                    </div>

                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect termsLabel" for="ageFlag">
                                <input type="checkbox" id="ageFlag" class="mdl-checkbox__input " checked>
                                <span class="mdl-checkbox__label ">본인은 만 14세 이상입니다.</span>
                                </label>

                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="termsFlag">
                                <input type="checkbox" id="termsFlag" class="mdl-checkbox__input ">
                                <span class="mdl-checkbox__label "><a href="# ">이용약관</a> 및 <a href="# ">개인정보 처리방침</a>에 동의합니다.</span>
                                </label>
                                    <button class="btn lt-register-btn " id="signup_btn">계정 만들기 <i class="icon-right pull-right "></i></button>
                                </div>
                            </form>
                            <!--register form-->
                        </div>

                        <div class="tab-pane fade" id="login">
                           
                            <!--login form-->
                            <form action="/login" method="post" name="frm_login" id="frm_login">
                                <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" name="email" id="email">
                                        <label class="mdl-textfield__label" for="emailAddress">이메일 주소</label>
                                        <div class="errorTxt"></div>
                                    </div>
                                </div>

                                <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="password" name="password" id="password">
                                        <label class="mdl-textfield__label" for="password">비밀번호</label>
                                        <div class="errorTxt"></div>
                                    </div>
                                </div>

                                <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
<!--                                     <div class="row">
                                        <br>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="rememberPass">
                                        <input type="checkbox" id="rememberPass" class="mdl-switch__input">
                                        <span class="mdl-switch__label">로그인 상태를 유지합니다.</span>
                                        </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style=" text-align:right;">
                                            <a href="#">비밀번호를 잊어버렸나요?</a>
                                        </div>
                                    </div> -->
                                </div>

                                <div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-10 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12 pull-right ">
                                    <button type="submit" class="btn lt-register-btn">로그인 <i class="icon-right "></i></button>
                                </div>
                            </form>
                            <!--login form-->
                        </div>
                    </div>
                </div>
                <!--Login-->
            </div>
            <!--center-block-->
        </div>
        <!--container-->
    </div>







    <script src="custom/jquery/dist/jquery.min.js "></script>
    <script src="custom/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="custom/libs/mdl/material.min.js "></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js "></script>
    <script src="js/login.js "></script>
    <script src="js/signup.js "></script>


 <!--    <script>
        //Google analytics.
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79865537-1', 'auto');
        ga('send', 'pageview');
    </script> -->



</body>

</html>